.navbar-brand
{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.navbar{
    margin:2px,2px,2px,2px;
    background-color: rgba(211, 107, 194, 0.2);
}
.btn
{
    background-color:  rgba(221, 151, 218, 0.4);
    border: none;
    margin-left: 10px;
}
.btn1{
font-size: 15px;
}
.nav-link{
size: 5px;
}
.color
{
    color: black;
}